button{
    border-radius: 10px;
}
.a{
    width: 75%;
    height: 100%;
    
    align-items: center;
    text-align: center;
}
.a1{
    padding-top: 20px;
}
.a:hover {
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2); 
  }


